* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #c0cbf7;
}

main {
    background-color: #fff;
    width: 370px;
    height: 550px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #3e52a3; }